@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

html,
body,
#__next {
  height: 100%;
}

@theme {
  --font-inter: var(--font-inter);

  --color-background: #222222;
  --color-white: #ffffff;

  --color-primary: #e4e4e7cc;
  --color-primary-10: #4b5563;
  --color-border: #d1d5db;
  --color-gray: #6b7280;
}

a {
  display: inline-block;
}
